label#files-label {
    color: white;  
    background-color: aquamarine;
    padding: 6px;
    border-radius: 6px;
  }

input#files {
    display: none;
}

#drop-area {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  width: 300px;
  height: 200px;
  cursor: pointer;
}

audio {
  width: 300px;
}
